<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <p class="lead">This site was created by Naman Shaundik using data from mapbox.com and darksky.net</p>
        <img src="/img/nkp.jpg">
        
    </div>
    {{>footer}}
</body>

</html>