<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <p class="lead">{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>